/* ========================
   Global Reset + Base Styles
======================== */

/* Box sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin & padding */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
menu,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol,
menu {
  list-style: none;
}

/* Root styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Link styles */
a {
  text-decoration: none;
  color: inherit;
}
